.reveal {
  background-image: url("../uploads/backgroundPresBFEC.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.reveal section p,
.reveal section li {
	font-size: 22pt;
}
.reveal section pre {
	font-size: 11pt;
}
.reveal section h1 {
	font-size: 40pt !important;
}
.reveal section h2 {
	font-size: 30pt !important;
}
.reveal section h3 {
	font-size: 25pt !important;
}
.reveal .slide-menu-button {
	position: fixed;
	left: 49.45% !important;
	top: 5.2% !important;
}
.reveal .slide-number
{
	position: fixed !important;
	bottom: 5.2% !important;
	left: 0% !important;
	width: 99.37%;
	background-color: transparent ;
	color: black;
	text-align: center;
}